name: Deploy to EC2

  on:
    push:
      branches: [ "main" ]

  jobs:
    deploy:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout
          uses: actions/checkout@v4

        - name: Upload files to EC2 via SCP
          uses: appleboy/scp-action@v0.1.7
          with:
            host: ${{ secrets.EC2_HOST }}
            username: ${{ secrets.EC2_USER }}
            key: ${{ secrets.SSH_PRIVATE_KEY }}
            source: "./*"
            target: ${{ secrets.EC2_PATH }}
            rm: false

        - name: Run remote commands
          uses: appleboy/ssh-action@v1.0.3
          with:
            host: ${{ secrets.EC2_HOST }}
            username: ${{ secrets.EC2_USER }}
            key: ${{ secrets.SSH_PRIVATE_KEY }}
            script: |
              sudo systemctl reload nginx
              echo "Deployed"
