name: Deploy to Singapore

  on:
    push:
      branches: [ main ]

  jobs:
    deploy:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v4

        - name: Deploy to EC2
          uses: appleboy/ssh-action@master
          with:
            host: ${{ secrets.EC2_HOST }}
            username: ${{ secrets.EC2_USER }}
            key: ${{ secrets.SSH_PRIVATE_KEY }}
            script: |
              cd /var/www/ohmai.me
              git pull origin main
              sudo systemctl reload nginx
